button {
    background-color: white;
    padding: 7px;
    border-radius: 4px;
    border: 1px solid grey;
    outline: none;
    margin-top: 15px;
}

select {
    background-color: white;
    height: 25px;
    border: 1px solid grey;
    outline: none;
}

button:hover {
    background-color: whitesmoke;
}

#main {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}

.content {
    width: 400px;
    display: none;
    border: 1px solid grey;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 4px;
    border-top-left-radius: 0;
}

#control input {
    color: black;
}

.grid {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 5px 20px;
}

.visible {
    display: block;
}

#tabs {
    display: flex;
}

form {
    margin-bottom: 0;
}

.tab {
    border: 1px solid grey;
    color: grey;
    background-color: whitesmoke;
    padding: 5px;
    margin-bottom: -1px;
    cursor: pointer;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.tab.active {
    border-bottom-color: transparent;
    color: black;
    background-color: white;
}

