:root {
    --clr-accent: steelblue;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
}

.danger {
    --clr-accent: indianred;
}

.success {
    --clr-accent: forestgreen;
}

input,
select {
    accent-color: var(--clr-accent);
    border: 1px solid darkgrey;
    border-radius: 4px;
    padding: 3px 7px;
    outline: none;
}

button {
    background-color: var(--clr-accent);
    color: white;
    padding: 7px;
    border-radius: 4px;
    border: 0;
    outline: none;
    width: 75px;
    font-weight: 500;
}

button:hover {
    background-color: hsl(from var(--clr-accent) h s calc(l + 10));
}

.slim {
    padding: 5px 7px;
    height: fit-content;
}

select {
    background-color: white;
    height: 28px;
    border: 1px solid darkgrey;
    outline: none;
}

#main {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}

.content {
    width: 600px;
    display: none;
    padding: 20px 10px;
    border-top: 1px solid darkgrey;
}

.grid {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 7px 20px;
}

.grid3 {
    display: grid;
    grid-template-columns: max-content 1fr 1fr;
    gap: 10px 20px;
    align-items: center;
}

.visible {
    display: block;
}

#tabs {
    display: flex;
}

form {
    margin-bottom: 0;
}

.tab {
    padding: 10px;
    cursor: pointer;
}

.tab.active {
    border-bottom: 3px solid steelblue;
    color: black;
    background-color: white;
}

#ui-status {
    float: right;
    margin-top: 11px;
    font-size: 12px;
    font-style: italic;
    border: 0;
    background-color: white;
    width: 90px;
}

#ui-status[value="disconnected"] {
    color: red;
}

#control_state[value="Error"] {
    color: red;
}

#btn-start, #btn-stop {
    margin-top: 20px;
}

#cont-ctrl-top {
    display: flex;
    height: 300px;
    justify-content: space-between;

    & #cont-slider-cross {
        display: flex;

        & #cont-slider-cross-fields {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .cont-pos {
                display: flex;
                flex-direction: column;
            }

            & input {
                color: black;
                width: 50px;
            }

            & input.working {
                color: grey;
            }
        }
    }
}

#cont-ctrl-bottom {
    width: 510px;

    & input[type=range] {
        width: 100%;
    }

    & #cont-slider-coax {
        display: flex;
        flex-direction: column;

        & #cont-slider-coax-fields {
            display: flex;
            justify-content: space-between;

            & > div {
                display: flex;
                gap: 10px;
            }

            .cont-pos {
                display: flex;
                flex-direction: column;
            }

            & input {
                color: black;
                width: 50px;
                height: fit-content;
            }

            & input.working {
                color: grey;
            }
        }
    }
}

fieldset {
    margin: 5px 0;
    border: 1px solid darkgrey;
    border-radius: 6px;
}
