:root {
    --clr-accent: steelblue;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
}

.danger {
    --clr-accent: indianred;
}

.success {
    --clr-accent: forestgreen;
}

input, select {
    accent-color: var(--clr-accent);
    border: 1px solid darkgrey;
    border-radius: 4px;
    padding: 3px 7px;
    outline: none;
}

button {
    background-color: var(--clr-accent);
    color: white;
    padding: 7px;
    border-radius: 4px;
    border: 0;
    outline: none;
    margin-top: 20px;
    width: 75px;
    font-weight: 500;
}

button:hover {
    background-color: hsl(from var(--clr-accent) h s calc(l + 10));
}

select {
    background-color: white;
    height: 28px;
    border: 1px solid darkgrey;
    outline: none;
}

#main {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}

.content {
    width: 500px;
    display: none;
    padding: 20px 10px;
    border-top: 1px solid darkgrey;
}

#control input {
    color: black;
}

.grid {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 7px 20px;
}

.visible {
    display: block;
}

#tabs {
    display: flex;
}

form {
    margin-bottom: 0;
}

.tab {
    padding: 10px;
    cursor: pointer;
}

.tab.active {
    border-bottom: 3px solid steelblue;
    color: black;
    background-color: white;
}

#ui-status {
    float: right;
    margin-top: 11px;
    font-size: 12px;
    font-style: italic;
    border: 0;
    background-color: white;
    width: 90px;
}

#ui-status[value="disconnected"] {
    color: red;
}

.cont-slider-pos {
    display: flex;
    flex-direction: column;
    margin-top: 15px;

    & .cont-min-max {
        display: flex;
        justify-content: space-between;
    }

    & input[type=number] {
        width: 75px;
    }

    & input[type=range] {
        width: 100%;
    }
}

fieldset {
    margin: 5px 0;
    border: 1px solid darkgrey;
    border-radius: 6px;
}
